<div>
  <div class="home-page-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4 start-company-div">
          <h1 class="heading-line-space">Start New Company <label class="under-line">abroad today</label> !</h1>
          <div>
            <h4 class="content-line-space">Simply from your own desk.Fast processing and testing by our experts abroad.
            </h4>
          </div>
          <div>
            <button class="buttonOutline">ABOUT OUR PRODUCTS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row  start-with-us">
        <div class="col-md-7">
          <h2 class="border-left"> &nbsp; Why start up with us ?</h2>
          <p class="start-content-para">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec ,.
          </p>
          <p class="start-content-para">
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
            pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
            elephant tellus. Aenean leo ligula, porttitor eu, consequat vitae.
          </p>
        </div>
        <div class="col-md-5">
          <ul class="checkUl">
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="border-left-white"> &nbsp; In which country ? </h2>
        </div>
      </div>
      <div class="row product-container-content">
        <div class="col-md-7 content-line-space">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec ,.
          </p>
          <p>
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate elephant tellus. Aenean leo ligula, porttitor eu, consequat vitae.
          </p>
          <button class="buttonOutline">ABOUT OUR <b>PRODUCTS</b></button>
        </div>
        <div class="col-md-5">
          <button class="buttonOutline">FOUNDING IN <b>HONG KONG</b></button>
          <button class="buttonOutline">ESTABLISH IN <b>BULGARIA</b></button>
          <button class="buttonOutline">ESTABLISH IN <b>CYPRUS</b></button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container start-with-us">
      <div class="row">
        <div class="col-md-12">
          <h2 class="border-left text-color-red"> &nbsp; Services Overview</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul class="services-Ul">
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
            <li><i class="fa fa-check-circle"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> A great argument for us!</font></font></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="services-image"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-us-container">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h2>Do you have any questions? <br>
                We are happy to serve you!
            </h2>
            <h3>
              Just get in touch with us.
            </h3> 
            <button class="buttonOutline">Contact</button>
          </div>
      </div>
    </div>
  </div>
</div>