<nav class="navbar navbar-default main-nav-bar-container">
  <div class="container-fluid" align="center">
      <div class="navbar-header">
          <span class="navbar-brand textColorActive">OffShore Company</span>
      </div>
      <ul class="nav navbar-nav">
          <li><a href=`` routerLink="/homePage" routerLinkActive="active" class="textColorActive">Home</a></li>
          <li><a href="" routerLink="/services" >Services</a></li>
          <li><a href="" routerLink="/nomineeServices">Nominee Services</a></li>
          <li><a href="" routerLink="/contactUs">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav floatRight">
        <li><a routerLink="/login/signup" class="login-sign-up-text">Login / Sign Up</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>